* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  background-color: #F5F5F9;
  color: #4F4F4F;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;

}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 90%;
  max-width: 700px;
}

.homepage header {
  width: 100%;
  height: 115px;
}

.homepage nav {
  width: 100%;
  height: 70px;
  background-color: #57419D;
  box-shadow: 1px -3px 3px 1px #9999C7;
  display: flex;

}

.homepage nav ul {
  width: 50%;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homepage nav ul li{
  width: 70px;
  height: 32px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px #9999C7;
  margin-left: 20px;
  background-color: #fff;
  text-align: center;
  color: #9999C7;
  font-weight: bold;
}

.homepage main {
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px 10px 20px;
  overflow: auto;
}

.homepage main::-webkit-scrollbar{
  width: 7px;
  height: 0;
  background: #fff;
  border-radius: 10px;
}

.homepage main::-webkit-scrollbar-thumb{
  background: #f3c44e;}

.homepage main a {
  width: 90%;
  max-width: 450px;
  height: 160px;
  box-shadow: -5px -5px 10px rgba(255, 255, 255, 0.5), 5px 5px 10px rgba(170, 170, 204, 0.25), 10px 10px 20px rgba(170, 170, 204, 0.5), -10px -10px 20px #FFFFFF;
  border-radius: 16px;
  display: flex;
  position: relative;
}

.homepage main a + a {
  margin-top: 16px;
}

.homepage main a button {
  position: absolute;
  top: 27px;
  right: 15px;
  border: 0;
  background: transparent;

  cursor: pointer;
}

.homepage main a .informations {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.homepage main a .informations strong {
  font-size: 20px;
  color: #333333;
}

.homepage main a .informations span {
  font-size: 12px;
  margin-top: 8px;
  color: #828282;
}

.homepage main a .informations p {
  font-size: 12px;
  margin-top: 12px;
  color: #4F4F4F;
  overflow: hidden;
}

.container-form {
  flex: 1;
  background: url('./assets/header.svg') no-repeat;
  background-size: cover;
  position: relative;
}


.container-form form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.4);
}

.container-form form input {
  width: 325px;
  height: 42px;
  padding: 15px;
  margin-bottom: 8px;
  border-radius: 10px;
  outline: 0;
  border: 0;
  background-color: #57419D;
  color: #ddd;
  font-size: 16px;
  transition: filter 0.3s;
}

.container-form form input:hover{
  filter: brightness(90%);  
}

.container-form form input::placeholder {
  color: #9999C7;
  font-size: 16px;
}

.container-form form textarea {
  width: 325px;
  height: 100px;
  padding: 15px;
  margin-bottom: 8px;
  border-radius: 10px;
  outline: 0;
  border: 0;
  background-color: #57419D;
  color: #ddd;
  font-size: 16px;
  transition: filter 0.3s;
}

.container-form form textarea::placeholder {
  color: #9999C7;
  font-size: 16px;
}

.container-form form button {
  width: 325px;
  height: 46px;
  background-color: #57419D;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 28px;
  transition: filter 0.3s;

}

.container-form form button:hover {
  filter: brightness(90%);
}